{% extends 'home/base.html' %}
{% block style %}
<style>
</style>
{% endblock %}

{% block javascript %}
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });
      $(".arrow-left").click(function () {
        $image.cropper('move', -1, 0);
      });
      $(".arrow-right").click(function () {
        $image.cropper('move', 1, 0);
      });
      $(".arrow-up").click(function () {
        $image.cropper('move', 0, -1);
      });
      $(".arrow-down").click(function () {
        $image.cropper('move', 0, 1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script>

  <script>
      var slider1 = document.getElementById("myRange1");
      var output1 = document.getElementById("demo1");
      output1.innerHTML = slider1.value;

      slider1.oninput = function() {
        output1.innerHTML = this.value;
      }

      var slider2 = document.getElementById("myRange2");
      var output2 = document.getElementById("demo2");
      output2.innerHTML = slider2.value;

      slider2.oninput = function() {
        output2.innerHTML = this.value;
      }

      /*$(function() {
       $( ".slider").slider({
        step: 0.05,
        slide: function(event, elt) {
          $("#slider_control").val(elt.value);
        }
       })
      });*/
    
  </script>
 
{% endblock %}


{% block content %}
<div class="container my-5">
  <h1>Upload File</h1>
  <!-- FORM TO UPLOAD THE IMAGES -->
  <form method="post" enctype="multipart/form-data" id="formUpload">
    {% csrf_token %}
    {{ form }}
  </form>

  <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crop Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group float-left" role="group">
              <button type="button" class="btn btn-default js-zoom-in">
                <i class="fas fa-search-plus"></i>
              </button>
              <button type="button" class="btn btn-default js-zoom-out">
                <i class="fas fa-search-minus"></i>
              </button>
              <button type="button" class="btn btn-default arrow-left">
              <i class="fas fa-arrow-left"></i>
              </button>
              <button type="button" class="btn btn-default arrow-right">
                <i class="fas fa-arrow-right"></i>
              </button>
              <button type="button" class="btn btn-default arrow-up">
                <i class="fas fa-arrow-up"></i>
              <button type="button" class="btn btn-default arrow-down">
                <i class="fas fa-arrow-down"></i>
              </button>
            </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
        </div>
      </div>
    </div>
  </div><br>

  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
  <h1>Images</h1>
  <form action="{% url 'home:photo_blend' %}" method="get">
  <div class="row d-flex justify-content-center" style="margin-top: 20px">
    {% for photo in photos|slice:':2' %}
   
      <div class="col-sm-6 col-md-4 col-lg-3">
        <small><b>{{photo.uploaded_at}}</b></small>
        <img src="{{ photo.file.url }}" class="border border-dark thumbnail" style="height: 200px">
        <div class="slidecontainer">
        <input type="range" value="50" class="slider{{forloop.counter}}" name="slider{{forloop.counter}}" id="myRange{{forloop.counter}}">
        <p>Value: <span id="demo{{forloop.counter}}"></span></p>
        
      </div> 
    </div> 
    {% endfor %}
  </div>
  <div class="d-flex justify-content-center">
  {% if count >= 2 %}
  <button class="btn btn-primary" type="submit">Blend</button>
  {% endif %}
</div>
    <h2>Creative images</h2>
      <div class="row d-flex justify-content-center">
        {% for output in outputs %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img src="{{ output.file.url }}" class="border border-dark thumbnail" style="height:200px">
        </div>
        {% endfor %}
      </div>

  
   <!-- <div name="slider" class="slider">
      <input type="range" name="slider_control" id="slider_control" />
    </div>-->
  
  </form>
</div>
{% endblock %}